.main-pane-container {
  display: flex;
  justify-content: center;
  margin-top:47px;
}

.main-pane {
  margin-top: 2vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.homepage-background {
  background: #252624;
  width: 80%;
  margin:0 auto;
  padding-bottom: 100px;
}

.outro-background {
  width: 80%;
  margin: 0 auto;
  margin-bottom: -10px;
  background-color: rgb(202, 180, 121);
}

.outro-container {
  display: flex;
  flex-direction: row;
}

#outro-text {
  display: flex;
  flex-direction: column;
}

#outro-icon {
  width: 100px;
}



// .main-pain > * {
//   width:80%;
//   height: 100%
// }

.join-now-container {
  display: flex;
  flex-direction: column;
  justify-content: center;;
  align-items: center;
  width: 300px;
  padding: 10px;
  // border: 0.5px solid gray;
  // background-color:#36454f;
  // box-shadow: 0 0 2px lightblue;
  margin-bottom:10px;
  border-radius: 3px;
  text-align:center;
  margin-top: 40px;
}
.homepage-join-now-link {
  padding: 10px;
  margin-top: 5px;
  background-color: lightblue;
  border: 1px solid black;
  border-radius: 5px;
  text-decoration: none;
}

.homepage-join-now-link *{
  font-weight: bold
}

.homepage-join-now-link:hover {
  background-color:rgb(80, 186, 222)
}


.join-now-container * {
  color:white;
  font-weight: bold;
  font-size: 16px;
  text-shadow: 2px 0 0 black,
  -2px 0 0 black,
  0 2px 0 black,
  0 -2px 0 black,
  1px 1px black,
  -1px -1px 0 black,
  1px -1px 0 black,
  -1px 1px 0 black;
  line-height: 130%;
  
}
.intro-container {
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 74px;
  margin-bottom: 20px;
  min-width: 700px;
}


.about-container {
  display:flex;
  flex-direction: row;
  justify-content:center;
  width: 80%;
  margin: 0 auto;
}


.backend-description-container {
  width: 20%;
  border: 1px solid black;
  text-align: center;
  left: 50px;
  background-color: rgb(214, 205, 205);
  padding:10px;
  box-shadow: 0 0 8px black;
  border-radius: 7px;
  margin-left: 20%;
}
.backend-description-container * {
  color: rgb(34, 33, 33);
  font-weight: bold;
  font-size: 16px;
}

.frontend-description-container {
  width: 20%;
  border: 1px solid black;
  padding-top: 7px;
  text-align: center;
  background-color: rgb(214, 205, 205);
  padding:10px;
  padding-top:18px;
  padding-bottom:18px;
  box-shadow: 0 0 8px black;
  border-radius: 7px;
  margin-right: 20%;
}

.frontend-description-container * {
  color: rgb(34, 33, 33);
  font-weight: bold;
  font-size: 16px;
}

.functionality-description-container {
  width:20%;
  border: 1px solid black;
  text-align: center;
  margin: 0 auto;
  margin-top: -80px;
  padding: 10px;
  background-color: rgb(214, 205, 205);
  box-shadow: 0 0 8px black;
  border-radius: 7px;
}

.functionality-description-container * {
  color: rgb(34, 33, 33);
  font-weight: bold;
  font-size: 16px;
}

.splash-about {
  width: 60%;
  margin: 0 auto;
}

.splash-about * {
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-shadow: 2px 0 0 rgb(17, 26, 26),
  -2px 0 0 rgb(28, 43, 43),
  0 2px 0 rgb(28, 43, 43),
  0 -2px 0 rgb(28, 43, 43),
  1px 1px rgb(28, 43, 43),
  -1px -1px 0 rgb(28, 43, 43),
  1px -1px 0 rgb(28, 43, 43),
  -1px 1px 0 rgb(28, 43, 43),; 
}


.intro-container > h1{
  width: 60%;
  color: white;
  font-size: 42px;
  text-shadow: 2px 0 0 black,
  -2px 0 0 black,
  0 2px 0 black,
  0 -2px 0 black,
  1px 1px black,
  -2px -2px 0 black,
  1px -1px 0 black,
  -2px 2px 0 black;
}

.loop {
  color: red;
  font-size: 42px;
}

.homepage-bar {
  width: 70%;
  height: 5px;
  background-color: white;
  border: 1px solid silver;
  border-radius: 5px;
  margin-top: 2vh;
  margin-bottom: 5vh;
}

.join-parent {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 80%;
  margin: 0 auto;
}

.question p {
  color:white;
  font-weight: bold;
  font-size: 16px;
  text-shadow: 2px 0 0 black,
  -2px 0 0 black,
  0 2px 0 black,
  0 -2px 0 black,
  1px 1px black,
  -1px -1px 0 black,
  1px -1px 0 black,
  -1px 1px 0 black;
}

.upvotes p {
  color:white;
  font-weight: bold;
  font-size: 16px;
  text-shadow: 2px 0 0 black,
  -2px 0 0 black,
  0 2px 0 black,
  0 -2px 0 black,
  1px 1px black,
  -1px -1px 0 black,
  1px -1px 0 black,
  -1px 1px 0 black;
}
.upvotes img {
  margin-left: 30px;
}

.functionality-parent {
  display: flex;
  flex-direction: column;
}

.react {
  height: 80px;
  margin-top:20px
}

.ruby {
  height: 80px;
  margin-top: 20px;
}
#icon {
  height: 80px;
  width: 80px;
}

#outro-header * {
  display: inline-block;
}

#outro-name {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: white;
  text-shadow: 2px 0 0 black,
  -2px 0 0 black,
  0 2px 0 black,
  0 -2px 0 black,
  1px 1px black,
  -1px -1px 0 black,
  1px -1px 0 black,
  -1px 1px 0 black;
}

#outro-author {
  font-family:'Lucida Sans',
  'Lucida Sans Regular',
  'Lucida Grande',
  'Lucida Sans Unicode',
  Geneva,
  Verdana,
  sans-serif;
  font-size: 18px;
  color: black;
}

#outro-contributors {
  color: lightgrey;
  text-shadow: 1px 0 0 black,
  -1px 0 0 black,
  0 1px 0 black,
  0 -1px 0 black,
  1px 1px black,
  -1px -1px 0 black,
  1px -1px 0 black,
  -1px 1px 0 black;
}
#outro-text {
  margin: 0 auto;
  margin-top: 5vh;
  margin-left: 0vh;
}
#outro-icon {
  width:120px;
}
