#left-nav-container {
  width: 10vw;
  display:flex;
  flex-direction: column;
  align-items: center;
  // margin-left: 20%;
  // margin-top: 10vh;
  margin-left: 20%;
  position:sticky;
  top: 300px;
  z-index: 20;
  // flex: 1;
  align-self: flex-start;
}

.left-nav-interior {
  display: flex;
  flex-direction:column;
  justify-self: flex-end;
  align-self:flex-end;
  align-items: center;
  justify-content: center;
}

.left-nav-interior > * {
  padding-top: 10px;
  padding-bottom: 10px;
}

#left-nav-container > * {
  margin-bottom: 2vh;
}

#left-nav-container * {
  min-width: 0;
}
#left-nav-container ul {
  justify-self:flex-end;
}
#left-nav-container li {
  list-style: none;
  padding-bottom:10px;
  height:auto;
  width:100%;
  margin-bottom: 1vh;
}
#left-nav-container * {
  text-decoration: none;
  color: black;
}

#left-nav-container li * {
  padding-top: 5px;
  padding-bottom: 5px;
}

#left-nav-container .home {
  font-size: 16px;
  font-weight: bold;
  padding-right: 30px;
}

.selected {
  background-color:rgb(195, 188, 188);
  border-right: 2px solid orange ;
  margin-right : -2px;
}

.left-nav-item:hover {
  background-color: lightgrey;
}

.left-nav-users {
  padding-right: 36px !important;
}

.left-nav-question {
  padding-right:8px !important;
}

.left-nav-public{
  padding-right: 30px;
}