#main-container {
  display:flex;
  flex-direction: column;
}
.right-nav-container > :first-child {
  height: 30px;
  display: flex;
  flex-direction: row;
}

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;;
  background-color: #F5F5F5;
  padding: 10px;
  border-bottom: 2px solid gray;
  box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.7);
  height: 20px;
  width:100%;
  position:fixed;
  border-top: 5px solid orange;
  z-index: 20;
}
.nav-search {
  height: 18px;
  width: 40%;
  border-radius: 5px;
  padding: 5px;
  background-image: url('https://www.w3schools.com/css/searchicon.png');
  background-position: right;
  background-repeat: no-repeat;
}

.nav-drop-down-content {
  display: none;
  position: absolute;
  min-width: 10vw;
  background: #F0F0F0;
  border: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-radius: 5px;

}

.logged-in-left-nav {
  position:relative;
  display: inline-block;
}

.nav-drop-down-content.change {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
}
#nav-icon{
  height: 30px;
  width: 30px;
}

.nav-btn {
  height: 30px;
  width: 60px;
}


.logged-in-left-nav {
  left:-200px;
}

.nav-icon {
  margin-left: -20%;
}

.nav-drop-down-content li {
  padding-top: 20px;
  padding-bottom: 20px;
}
.nav-drop-down-content li * {
  text-decoration: none;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: steelblue;
}
.nav-drop-down-content li *:hover {
  text-shadow: 1px 0 0 #00538C,
  -1px 0 0 #00538C,
  0 1px 0 #00538C,
  0 -1px 0 #00538C,
  1px 0px #00538C,
  -1px -1px 0 #00538C,
  1px -1px 0 #00538C,
  -1px 1px 0 #00538C;
}

.nav-drop-down-content ul {
  list-style-type: none;
}


.icon-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.icon-container:hover {
  background-color: lightgrey;
  margin: -5px;
  border-radius: 15px;
  padding: 5px;
}

.icon-name {
  font-size:25px;
  font-weight: bold;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(10, 5, 113);
  text-shadow: 2px 0 0 rgb(186, 158, 158),
  -2px 0 0 rgb(142, 116, 116),
  0 2px 0 rgb(142,116,116),
  0 -2px 0 rgb(142,116,116),
  2px 0px rgb(142,116,116),
  -2px -2px 0 rgb(142,116,116),
  2px -2px 0 rgb(142,116,116),
  -2px 2px 0 rgb(142,116,116);
  
}

.nav-icon{
  text-decoration:none;
}

.login-btn{
  background-color: #e7feff;
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 5px;
  font-size: 14px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: blue;
  text-shadow: 0px 0px 5px lightcyan;
}

.login-btn:hover{
  background-color:lightskyblue;
}
.login-btn:active {
  background-color: rgb(87, 155, 197);
}

.signup-btn {
  background-color: #4169e1;
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 5px;
  font-size: 12px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
  text-shadow: 0px 0px 5px black;
}

.signup-btn:hover {
  background-color: #0000cd;
}

.signup-btn:active{
  background-color: #0a0a8b;
  border: 2px;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change.bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change.bar2 {
  opacity: 0;
}

.change.bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
.menu-icon-container {
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
}
.menu-icon-container:hover {
  background-color: gray;
}

.logged-out-right-nav{
  display: flex;
  align-items: center;
}

.logout-btn {
  border-radius: 5px;
  background-color: #00BFFF;
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 5px;
  font-size: 14px;
  font-family:'Lucida Sans',
  'Lucida Sans Regular',
  'Lucida Grande',
  'Lucida Sans Unicode',
  Geneva,
  Verdana,
  sans-serif;
  color:white;
  text-shadow: 0px 0px 5px black;
  margin-left: 5px;
}

.logout-btn:hover {
  background-color: #0884ad; ;
}
.logout-btn:active {
  background-color: #044155;
  ;
}

.logged-in-right-nav {
  display: flex;
  align-items: center;

}

.profile-pic {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-pic img {
  border: 1px solid black;
  background-color: #E1EBEE;
  border-radius: 7px;
  margin-top: 4px;
  width: 30px;
  height: 30px;
}

