#index-outer-div {
  width: 70%;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
}

.question-index-main{
  display: flex;
  flex-direction: column;
  flex: 4;
}

.app-wrap{
  // display: flex;
  width:100%;
  height: 100vh;
  justify-content: flex-start;
}

#question-index-container  {
  width: 100%;
  margin: 0 auto;
  padding-top: 3vh;
  display: flex;
  flex-direction: column;
}

#question-item-container {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  // margin-right:200px;
  // padding-left: 20px;
  background-color: white;
  padding-top:15px;
  padding-bottom: 15px;
  margin-left: 10vw;
}

#question-index-list > :first-child > :first-child {
  border-top: 2px solid lightgray;
}
#question-index-list > :last-child > :last-child {
  border-bottom: 2px solid lightgray;
}


#question-index-list {
  display: flex;
  flex-direction: column;
  list-style: none;
}

#question-main-container {
  padding-right: 10px;
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 5vw;
}
#question-main-container > #question-author {
 font-size: 14px;
 color:rgb(55, 154, 194);
}
#question-main-container  #question-title {
  text-decoration: none;
  color: rgb(23, 164, 211)
}
#question-main-container > p {
  font-weight: bold;
  font-size:20px;
}
#question-index-container > h1 {
  margin-left: 50%;
}

#question-item-answer {
  color: gray;
}

#questions-header-container {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 2%;
  width: 80%;
  margin-left: 20%;
  
}

#questions-header-container h1 {
  font-weight: bold;
  font-size: 26px;
}

.ask-question {
  padding:12px;
  background-color: rgb(10, 149, 255);
  border: 2px solid gray;
  border-radius: 5px;
  color:white;
  font-weight:bold;
  font-size:14px;
}

.ask-question:hover {
  background-color: rgb(8, 78, 183);
}

#questions-header-container button:active {
  background-color: rgb(5, 62, 148);
}

#question-main-container #question-title:hover {
  color: rgb(126, 173, 188);
}

#question-index-total {
  display: flex;
  margin-top: 5vh;
  border-left: 2px solid lightgray;
}

#question-index-fake-left-nav {
  margin-left: 525px;
  border-left: 2px solid lightgrey;
}

#question-author p  {
  float:right;
}

.side-nav-to-component{
  display:flex;
  width: 100%;
}