#outer-thread-container {
  margin-top: 10vh;
  padding: 20%;
  border-left: 2px solid lightgray;
  display: flex;
  flex-direction: column;
  width: 40vw;
}


#question-thread-header {
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-between;
  vertical-align: middle;
  border-bottom: 2px solid lightgray;
  padding-bottom: 2%;
}

#question-thread-header > h1 {
  font-weight: bold; 
  font-size: 26px;
}

.question-thread-author {
  background-color: lightblue;
  padding: 4%;
  border-radius: 4px;
  color:rgb(5, 143, 198);
  // margin-left: auto;
}
.question-thread-author-edit {
  color:rgb(227, 235, 238);
  text-decoration: none;
  background-color: rgb(62, 140, 250);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px;
  border-color:rgb(87, 169, 228)
}

.question-thread-author-edit:hover {
  background-color:rgb(3, 61, 127)
}

.question-thread-author-edit:active {
  background-color: rgb(3, 38, 78);
}

.question-thread-author-delete {
  color: rgb(227, 235, 238);
  text-decoration: none;
  background-color: rgb(62, 140, 250);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px;
  border-color: rgb(87, 169, 228)
}

.question-thread-author-delete:hover {
  background-color: rgb(3, 61, 127)
}

.question-thread-author-delete:active {
  background-color: rgb(3, 38, 78);
}


.edit-hidden {
  display:none !important;
}

#edit-answer-container {
  display:flex;
  flex-direction: column;
}


.answer-thread-author {
  border: 1px solid lightgrey;
  padding: 4%;
  border-radius: 4px;
  background-color: lightblue;
  color:rgb(5, 143, 198);
  padding-right: 1vw;
  margin-left: auto;
  width: 87.5px;
}

#main-question {
  display: flex;
  width: 100%;
  align-items: center;
  padding-top: 2%;
  padding-bottom: 2%;
}

#main-question-body {
  padding-left: 10%;
  border-left: 2px solid lightgrey;
  display: flex;
  flex-direction:row;
  align-items: center;
  width: 32vw;
  justify-content: space-between;
}

#main-question-body p {
  word-break: break-all;
}

#thread-btn-and-author {
  display: flex;
  flex-direction: column;
  // align-self:flex-end;
  padding-bottom: 1%;
}

.question-thread-buttons {
  padding-bottom: 5%;
  display: flex;
  flex-direction: row;
  // margin-left: -1 vw;
}

.question-thread-author-edit {
  margin-right: 5%;
}

#answer-heading {
  font-weight: bold;
  font-size:22px;
  padding-bottom: 2%;
}
#question-upvote {
  margin-right: 1%;
}